/* styles.css */

:root {
	font-family: "Syne Mono", monospace;
	font-weight: 400;
	font-style: normal;
	color: #b6485c;
	background-color: #201318;
}

h1 {
	font-family: "Bungee", sans-serif;
	font-style: normal;
	color: #3b2a2b;
}